<div class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-text pull-right">
                <a href="#/user/{{model.user._id}}" ng-click=model.update(model.user)>
            <span class="glyphicon glyphicon-ok">
            </span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#/user/{{model.user._id}}">
                    <b class="kp-navbar-text">Profile</b>
                </a>
            </div>
        </div>
    </nav>
    <h1>Profile</h1>
    <div class="alert alert-danger" ng-show="model.error">
        {{model.error}}
    </div>


    <div class="alert alert-success" ng-show="model.message">
        {{model.message}}
    </div>

    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input ng-model="model.user.username" type="text" class="form-control" id="username">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input ng-model="model.user.email" type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input ng-model="model.user.firstName" type="text" class="form-control" id="first-name">
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input ng-model="model.user.lastName" type="text" class="form-control" id="last-name">
        </div>
    </form>

    <a class="btn btn-success btn-block"
       href="#/user/{{model.user._id}}/website">Websites</a>
    <a class="btn btn-danger btn-block" ng-click="model.deleteUser()">Deactivate</a>
    <a class="btn btn-primary  btn-block"
       href="#/login">Logout</a>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-text pull-right">
                <a href="#/user/{{model.user._id}}">
            <span class="glyphicon glyphicon-user">
            </span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                </a>
            </div>
        </div>
    </nav>
</div>
