<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a ng-click="model.updateWidget(model.widget)">
            <span class="glyphicon glyphicon-ok">
            </span>
            </a>
        </div>
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
            <span class="glyphicon glyphicon-chevron-left">
            </span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand"
               href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}"><b
                    class="kp-navbar-text">Widget Edit</b>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <form>
        <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" class="form-control" id="Name" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="Text">Text</label>
            <input ng-model="model.widget.text" type="text" class="form-control" id="Text"
                   value="US Senate reaches compromise">
        </div>
        <div class="form-group">
            <label for="size">Size</label>
            <input ng-model="model.widget.size" type="text" class="form-control" id="size" value="3">
        </div>
    </form>

    <a ng-click="model.deleteWidget()" class="btn btn-danger btn-block">Delete</a>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}">
            <span class="glyphicon glyphicon-user">
            </span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
            </a>
        </div>
    </div>
</nav>
</div>